<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <!-- Material Design Iconic Font-V2.2.0 -->
    <link href="~/Content/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Font Awesome -->

    <link href="~/Areas/Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/32f056f934.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Font Awesome Stars-->
    <link href="~/Areas/Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome-stars.css" rel="stylesheet" />

    <!-- Meanmenu CSS -->
    <link href="~/Content/css/meanmenu.css" rel="stylesheet" />

    <!-- owl carousel CSS -->
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Slick Carousel CSS -->
    <link href="~/Content/css/slick.css" rel="stylesheet" />

    <!-- Animate CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <!-- Jquery-ui CSS -->
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />

    <!-- Venobox CSS -->
    <link href="~/Content/css/venobox.css" rel="stylesheet" />

    <!-- Nice Select CSS -->
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />

    <!-- Magnific Popup CSS -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />

    <!-- Bootstrap V4.1.3 Fremwork CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Helper CSS -->
    <link href="~/Content/css/helper.css" rel="stylesheet" />

    <!-- Main Style CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />

    <!-- Modernizr js -->
    <script src="~/Scripts/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>

    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        <header>
            <!-- Begin Header Top Area -->
            @Html.Action("HeaderTopPartial", "Home")
            <!-- Header Top Area End Here -->
            <!-- Begin Header Middle Area -->

            @Html.Action("HeaderMidPartial", "Home")
            <!-- Header Middle Area End Here -->
            <!-- Begin Header Bottom Area -->

            @Html.Action("HeaderBotPartial", "Home")
            <!-- Header Bottom Area End Here -->
            <!-- Begin Mobile Menu Area -->
            <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                <div class="container">
                    <div class="row">
                        <div class="mobile-menu">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End Here -->
        </header>
        <!-- Header Area End Here -->






        @RenderBody()




        <!-- Begin Footer Area -->
        <div class="footer">
            <!-- Begin Footer Static Top Area -->
            <div class="footer-static-top footer-static-top-3 pt-xs-50 pb-xs-10">
                <div class="container">
                    <!-- Begin Footer Shipping Area -->
                    <div class="footer-shipping pb-xs-0">
                        <div class="row">
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-3 col-sm-6 pb-xs-45">
                                <div class="li-shipping-inner-box">
                                    <div class="shipping-icon">
                                        <img src="~/images/footer/1.png">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>MIỄN PHÍ SHIPPING</h2>
                                        <p>Trên 2 đơn hàng</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-3 col-sm-6 pb-xs-45">
                                <div class="li-shipping-inner-box">
                                    <div class="shipping-icon">
                                        <img src="~/images/footer/2.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>Thanh Toán Khi Nhận Hàng</h2>
                                        <p>Được kiểm tra hàng trước khi thnh toán</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-3 col-sm-6 pb-xs-45">
                                <div class="li-shipping-inner-box">
                                    <div class="shipping-icon">
                                        <img src="~/images/footer/3.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>Đổi trả trong 7 ngày</h2>
                                        <p>Chính sách hậu mãi được xây dựng dựa trên cam kết bảo vệ quyền lợi người tiêu dùng. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="li-shipping-inner-box last-child">
                                    <div class="shipping-icon">
                                        <img src="~/images/footer/4.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>Hỗ trợ miễn phí 24/7</h2>
                                        <p>Giải đáp câu hỏi ? Tư vấn online.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                        </div>
                    </div>
                    <!-- Footer Shipping Area End Here -->
                </div>
            </div>
            <!-- Footer Static Top Area End Here -->
            <!-- Begin Footer Static Middle Area -->
            <!-- Footer Static Middle Area End Here -->
            <!-- Begin Footer Static Bottom Area -->
            <div class="footer-static-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Footer Links Area -->
                            @*<div class="footer-links">
                                <ul>
                                    <li><a href="#">Online Shopping</a></li>
                                    <li><a href="#">Promotions</a></li>
                                    <li><a href="#">My Orders</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Most Populars</a></li>
                                    <li><a href="#">New Arrivals</a></li>
                                    <li><a href="#">Special Products</a></li>
                                    <li><a href="#">Manufacturers</a></li>
                                    <li><a href="#">Our Stores</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Payments</a></li>
                                    <li><a href="#">Warantee</a></li>
                                    <li><a href="#">Refunds</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    <li><a href="#">Discount</a></li>
                                    <li><a href="#">Refunds</a></li>
                                    <li><a href="#">Policy Shipping</a></li>
                                </ul>
                            </div>*@
                            <!-- Footer Links Area End Here -->
                            <!-- Begin Footer Payment Area -->
                            <div class="payment text-center">
                                <a href="#">
                                    <img src="images/payment/1.png" alt="">
                                </a>
                            </div>
                            <!-- Footer Payment Area End Here -->
                            <!-- Begin Copyright Area -->
                            <div class="copyright text-center pt-30 pb-50">
                                <span><a href="https://www.templatespoint.net" target="_blank"></a></span>
                            </div>
                            <!-- Copyright Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Static Bottom Area End Here -->
        </div>
        <!-- Footer Area End Here -->
        <!-- Begin Quick View | Modal Area -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-inner-area row">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <!-- Product Details Left -->
                                <div class="product-details-left">
                                    <div class="product-details-images slider-navigation-1">
                                        <div class="lg-image">
                                            <img src="images/product/large-size/1.jpg" alt="product image">
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/2.jpg" alt="product image">
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/3.jpg" alt="product image">
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/4.jpg" alt="product image">
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/5.jpg" alt="product image">
                                        </div>
                                        <div class="lg-image">
                                            <img src="images/product/large-size/6.jpg" alt="product image">
                                        </div>
                                    </div>
                                    <div class="product-details-thumbs slider-thumbs-1">
                                        <div class="sm-image"><img src="images/product/small-size/1.jpg" alt="product image thumb"></div>
                                        <div class="sm-image"><img src="images/product/small-size/2.jpg" alt="product image thumb"></div>
                                        <div class="sm-image"><img src="images/product/small-size/3.jpg" alt="product image thumb"></div>
                                        <div class="sm-image"><img src="images/product/small-size/4.jpg" alt="product image thumb"></div>
                                        <div class="sm-image"><img src="images/product/small-size/5.jpg" alt="product image thumb"></div>
                                        <div class="sm-image"><img src="images/product/small-size/6.jpg" alt="product image thumb"></div>
                                    </div>
                                </div>
                                <!--// Product Details Left -->
                            </div>

                            <div class="col-lg-7 col-md-6 col-sm-6">
                                <div class="product-details-view-content pt-60">
                                    <div class="product-info">
                                        <h2>Today is a good day Framed poster</h2>
                                        <span class="product-details-ref">Reference: demo_15</span>
                                        <div class="rating-box pt-20">
                                            <ul class="rating rating-with-review-item">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="review-item"><a href="#">Read Review</a></li>
                                                <li class="review-item"><a href="#">Write Review</a></li>
                                            </ul>
                                        </div>
                                        <div class="price-box pt-20">
                                            <span class="new-price new-price-2">$57.98</span>
                                        </div>
                                        <div class="product-desc">
                                            <p>
                                                <span>
                                                    100% cotton double printed dress. Black and white striped top and orange high waisted skater skirt bottom. Lorem ipsum dolor sit amet, consectetur adipisicing elit. quibusdam corporis, earum facilis et nostrum dolorum accusamus similique eveniet quia pariatur.
                                                </span>
                                            </p>
                                        </div>
                                        <div class="product-variants">
                                            <div class="produt-variants-size">
                                                <label>Dimension</label>
                                                <select class="nice-select">
                                                    <option value="1" title="S" selected="selected">40x60cm</option>
                                                    <option value="2" title="M">60x90cm</option>
                                                    <option value="3" title="L">80x120cm</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="single-add-to-cart">
                                            <form action="#" class="cart-quantity">
                                                <div class="quantity">
                                                    <label>Quantity</label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" value="1" type="text">
                                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    </div>
                                                </div>
                                                <button class="add-to-cart" type="submit">Add to cart</button>
                                            </form>
                                        </div>
                                        <div class="product-additional-info pt-25">
                                            <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i>Add to wishlist</a>
                                            <div class="product-social-sharing pt-25">
                                                <ul>
                                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View | Modal Area End Here -->
    </div>
    <!-- Body Wrapper End Here -->
    <!-- jQuery-V1.12.4 -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Popper js -->
    <script src="js/vendor/popper.min.js"></script>
    <script src="~/Scripts/js/vendor/popper.min.js"></script>

    <!-- Bootstrap V4.1.3 Fremwork js -->
    <script src="js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <!-- Ajax Mail js -->
    <script src="js/ajax-mail.js"></script>
    <script src="~/Scripts/js/ajax-mail.js"></script>

    <!-- Meanmenu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="~/Scripts/js/jquery.meanmenu.min.js"></script>

    <!-- Wow.min js -->
    <script src="js/wow.min.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>

    <!-- Slick Carousel js -->
    <script src="js/slick.min.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>

    <!-- Owl Carousel-2 js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>

    <!-- Magnific popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>

    <!-- Isotope js -->
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/js/isotope.pkgd.min.js"></script>

    <!-- Imagesloaded js -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/js/imagesloaded.pkgd.min.js"></script>

    <!-- Mixitup js -->
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="~/Scripts/js/jquery.mixitup.min.js"></script>

    <!-- Countdown -->
    <script src="js/jquery.countdown.min.js"></script>
    <script src="~/Scripts/js/jquery.countdown.min.js"></script>

    <!-- Counterup -->
    <script src="js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>

    <!-- Waypoints -->
    <script src="js/waypoints.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>

    <!-- Barrating -->
    <script src="js/jquery.barrating.min.js"></script>
    <script src="~/Scripts/js/jquery.barrating.min.js"></script>

    <!-- Jquery-ui -->
    <script src="js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/jquery-ui.min.js"></script>

    <!-- Venobox -->
    <script src="js/venobox.min.js"></script>
    <script src="~/Scripts/js/venobox.min.js"></script>

    <!-- Nice Select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/js/jquery.nice-select.min.js"></script>

    <!-- ScrollUp js -->
    <script src="js/scrollUp.min.js"></script>
    <script src="~/Scripts/js/scrollUp.min.js"></script>

    <!-- Main/Activator js -->
    <script src="js/main.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
