
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}




@if (ViewBag.ThongBaoDangNhap != null)
{
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/log/signin-image.jpg" alt="sing up image"></figure>
                    <a href="@Url.Action("DangKy", "User")" class="signup-image-link">Đăng Ký Tài Khoản mới!</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign up</h2>
                    @using (Html.BeginForm(new { @class = "register-form", id = "login-form" }))
                    {

                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="txtTaiKhoan" id="your_name" placeholder="Tài Khoản" />
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="txtMatKhau" id="your_pass" placeholder="Mật khẩu" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Lưu Tài khoản</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Đăng Nhập" />
                        </div>
                        <div class="form-group">

                            <label class="label-agree-term" style="color:#2ecc71">@ViewBag.ThongBaoDangNhap</label>
                            <script type="text/javascript">window.setTimeout(function(){
                                    window.location.href='@Url.Action("Index", "Home")';
                                }, 3000);</script>

                        </div>

                    }
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{

    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/log/signin-image.jpg" alt="sing up image"></figure>
                    <a href="@Url.Action("DangKy", "User")" class="signup-image-link">Đăng Ký Tài Khoản mới!</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign up</h2>
                    @using (Html.BeginForm(new { @class = "register-form", id = "login-form" }))
                    {

                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="txtTaiKhoan" id="your_name" placeholder="Tài Khoản" />
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="txtMatKhau" id="your_pass" placeholder="Mật khẩu" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Lưu Tài khoản</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Đăng Nhập" />
                        </div>
                        <div class="form-group">

                            <label class="label-agree-term" style="color:red">@ViewBag.ThongBao</label>

                        </div>

                    }
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
}