@using ShopDemo.Models
@model List<GioHang>
    @{
        ViewBag.Title = "Chi Tiết Giỏ Hàng";
        Layout = "~/Views/Shared/_LayoutGiay.cshtml";
    }

   


    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Giỏ Hàng</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!--Shopping Cart Area Strat-->
    <div class="Shopping-cart-area pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">Xóa</th>
                                    <th class="li-product-thumbnail">Hình Ảnh</th>
                                    <th class="cart-product-name">Tên Sản Phẩm</th>
                                    <th class="li-product-price">Đơn Giá</th>
                                    <th class="li-product-quantity">Size</th>
                                    <th class="li-product-quantity">Số Lượng</th>
                                    <th class="li-product-subtotal">Tổng Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="li-product-remove">
                                                @using (Html.BeginForm("XoaGioHang", "GioHang", new { @mahh = item.sMaHH, @size = item.iSize }))
                                                {<button class="close btn btn-block btn-danger" type="submit">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                }
                                            </td>

                                            <td class="li-product-thumbnail"><a href="@Url.Action("XemChiTiet", "Giay", new { @mahh = item.sMaHH})"><img src="@Url.Content("~/images/Item/" +item.sAnhBia)" alt="Li's Product Image" height="150" width="150"></a></td>
                                            <td class="li-product-name"><a href="@Url.Action("XemChiTiet", "Giay", new { @mahh = item.sMaHH })">@item.sTenHH</a></td>
                                            <td class="li-product-price"><span class="amount"> @String.Format("{0:0,0}", item.dDonGia) VND</span></td>
                                            <td class="li-product-price"><span class="amount">@item.iSize</span></td>
                                            <td class="">
                                                <label>Số Lượng</label>
                                                @using (Html.BeginForm("CapNhapGioHang", "GioHang", new { @mahh = item.sMaHH, @size = item.iSize }, FormMethod.Post, new { @class = "cart-plus-minus" }))
                                                {

                                                    <input class="cart-plus-minus-box" value="@item.iSoLuong" type="text" name="txtSoLuong" id="txtSoLuong">

                                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    <button type="submit" style="float:right;" class="btn btn-success btn-block">Sửa</button>
                                                }
                                            </td>
                                            <td class="product-subtotal"><span class="amount">@String.Format("{0:0,0}", item.dThanhTien) VND</span></td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    @*<div class="row">
            <div class="col-12">
                <div class="coupon-all">
                    <div class="coupon">
                        <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                        <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                    </div>
                    <div class="coupon2">
                        <input class="button" name="update_cart" value="Update cart" type="submit">
                    </div>
                </div>
            </div>
        </div>*@
                    @Html.Action("GioHangTTPartial", "GioHang")

                </div>
            </div>
        </div>
    </div>
    <!--Shopping Cart Area End-->