
@using ShopDemo.Models
@model List<ChiTietDonHang>

@{
    ViewBag.Title = "Admin-Xem chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


    <div class="row m-t-30">
        <div class="col-md-12">

            <h3 class="title-5 m-b-35">Quản Lý Đơn Hàng</h3>
            <div class="table-data__tool">
                @if (ViewBag.ThongBaoLoi != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ThongBaoLoi
                    </div>
                }
                @if (ViewBag.ThongBao != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.ThongBao
                    </div>
                }
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2" name="property">
                            <option selected="selected">All Properties</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
                <div class="table-data__tool-right">
                    @using (Html.BeginForm("XacNhan","QuanLyDonHang",new {@mactdh=Model[0].MaDH}))
                    {
                        @Html.AntiForgeryToken()
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" type="submit">
                        <i class="zmdi zmdi-plus"></i>Xác Nhận Đơn Hàng
                    </button>
                    
                    }
                        
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
            </div>

            
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>Mã Đơn Hàng</th>
                            <th>Mã Hàng Hóa</th>
                            <th>Tên Hàng</th>
                            <th>Số Lượng</th>
                            <th>Size</th>
                            <th>Tổng Tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaDH</td>
                                    <td>@item.MaHH</td>
                                    <td>@item.HangHoa.TenHH</td>
                                    <td>@item.SoLuong</td>
                                    <td>@item.Size</td>
                                    <td> @String.Format("{0:0,0 VNĐ}",@item.TongTien)</td>
                                    
                                </tr>
                            }
                        }

                    </tbody>
                </table>
             
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>






